@use '../../components/ui/variables' as *;

.slb-wf-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $slb-ui-gray-50;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  &__canvas {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}
